In [153]:
import pandas as pd
import numpy as np

url = 'https://open.canada.ca/data/dataset/1eb9eba7-71d1-4b30-9fb1-30cbdab7e63a/resource/91d586f9-fb72-4eac-b1f5-d9b95830c877/download/y_2019_en.xlsx'

df = pd.read_excel(url)

print(df.head())

   C_YEAR C_MNTH C_WDAY C_HOUR  C_SEV  C_VEHS C_CONF C_RCFG C_WTHR C_RSUR  \
0    2019      1      1     11      2       2     32      1      1      5
1    2019      1      1     11      2       2     32      1      1      5
2    2019      1      1     11      2       2     32      1      1      5
3    2019      1      1     11      2       2     32      1      1      5
4    2019      1      1     16      2       2     32      1      2      5

   ... V_TYPE V_YEAR P_ID P_SEX P_AGE P_PSN P_ISEV P_SAFE P_USER   C_CASE
0  ...      1   2015    1     M    56    QQ      1      2      U  2681651
1  ...      1   2015   UU     U    UU    UU      U     UU      U  2681651
2  ...      1   2010    1     F    30    11      2      2      1  2681651
3  ...      1   2010    2     U     1    QQ      N     NN      U  2681651
4  ...      1   2007    1     F    27    11      2      2      1  2681652

[5 rows x 23 columns]

In [154]:
del df['C_YEAR']

In [155]:
column_names = df.columns.tolist()
column_names = [item.replace('P_', '').replace('C_', '').replace('V_', 'Vehicle ')  for item in column_names]

print(column_names)

['MNTH', 'WDAY', 'HOUR', 'SEV', 'VEHS', 'CONF', 'RCFG', 'WTHR', 'RSUR', 'RALN', 'TRAF', 'Vehicle ID', 'Vehicle TYPE', 'Vehicle YEAR', 'ID', 'SEX', 'AGE', 'PSN', 'ISEV', 'SAFE', 'USER', 'CASE']

In [156]:
abbreviations_mapping = {
    'MNTH': 'Month',
    'WDAY': 'Weekday',
    'HOUR': 'Hour',
    'SEV': 'Severity',
    'VEHS': 'Vehicles',
    'CONF': 'Configuration',
    'RCFG': 'Road Configuration',
    'WTHR': 'Weather',
    'RSUR': 'Road Surface',
    'RALN': 'Road Alignment',
    'TRAF': 'Traffic',
    'ID': 'Identifier',
    'SEX': 'Sex',
    'AGE': 'Age',
    'PSN': 'Position',
    'ISEV': 'Injury Severity',
    'SAFE': 'Safety',
    'USER': 'User',
    'CASE': 'Case'
}

new_column_names = [abbreviations_mapping.get(item, item).replace('_', ' ').title() for item in column_names]

print(new_column_names)
df.columns = new_column_names
collision_data = df
collision_data.head()

['Month', 'Weekday', 'Hour', 'Severity', 'Vehicles', 'Configuration', 'Road Configuration', 'Weather', 'Road Surface', 'Road Alignment', 'Traffic', 'Vehicle Id', 'Vehicle Type', 'Vehicle Year', 'Identifier', 'Sex', 'Age', 'Position', 'Injury Severity', 'Safety', 'User', 'Case']

,Month,Weekday,Hour,Severity,Vehicles,Configuration,Road Configuration,Weather,Road Surface,Road Alignment,...,Vehicle Type,Vehicle Year,Identifier,Sex,Age,Position,Injury Severity,Safety,User,Case
0,1,1,11,2,2,32,1,1,5,4,...,1,2015,1,M,56,QQ,1,2,U,2681651
1,1,1,11,2,2,32,1,1,5,4,...,1,2015,UU,U,UU,UU,U,UU,U,2681651
2,1,1,11,2,2,32,1,1,5,4,...,1,2010,1,F,30,11,2,2,1,2681651
3,1,1,11,2,2,32,1,1,5,4,...,1,2010,2,U,1,QQ,N,NN,U,2681651
4,1,1,16,2,2,32,1,2,5,3,...,1,2007,1,F,27,11,2,2,1,2681652

In [157]:
pip install tabula-py

Requirement already satisfied: tabula-py in /usr/local/lib/python3.10/dist-packages (2.7.0)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.5.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.22.4)
Requirement already satisfied: distro in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.8.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=0.25.3->tabula-py) (1.16.0)

In [158]:
import tabula
from google.colab import drive
drive.mount('/content/drive/')

pdf_path = '/content/drive/MyDrive/Colab Notebooks/dictionary.pdf'
dict_tables = tabula.read_pdf(pdf_path, pages='1-10')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

WARNING:tabula.io:Got stderr: Jul 18, 2023 11:24:24 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
Jul 18, 2023 11:24:24 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'
Jul 18, 2023 11:24:28 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
Jul 18, 2023 11:24:28 PM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'

In [159]:
dict_list = []

for i in range(len(dict_tables)):
  df = pd.DataFrame(dict_tables[i])
  dict_list.append(df)

In [160]:
for i in range(len(dict_list)):
  dict_list[i] = dict_list[i].replace('NaN', np.nan)

for i in range(len(dict_list)):
  dict_list[i] = dict_list[i].dropna(axis=1, how='all')

In [161]:
dict_list = [df for df in dict_list if not df.empty]

In [162]:
del dict_list[0]

In [163]:
len(dict_list), len(new_column_names)

(21, 22)

In [164]:
dictionary = {new_column_names[i]: df.iloc[1:].reset_index(drop=True).rename(columns=df.iloc[0]) for i, df in enumerate(dict_list)}

In [165]:
def find_description(category, row_num:int):
  table = dictionary[category]
  lookup = collision_data.iloc[row_num][category]
  description = table.loc[table['Code'] == lookup, 'Description'].values[0]
  return description

In [166]:
find_description('Sex', 5)

'Female'

In [167]:
def categorize_time(hour):

    try:
        hour = int(hour)
    except ValueError:
        return np.nan
    if hour < 6 or hour >= 20:
        return 'Night'
    elif hour < 12:
        return 'Morning'
    elif hour < 17:
        return 'Afternoon'
    else:
        return 'Evening'


collision_data['Time of Day'] = collision_data['Hour'].apply(categorize_time)
collision_data.head()

,Month,Weekday,Hour,Severity,Vehicles,Configuration,Road Configuration,Weather,Road Surface,Road Alignment,...,Vehicle Year,Identifier,Sex,Age,Position,Injury Severity,Safety,User,Case,Time of Day
0,1,1,11,2,2,32,1,1,5,4,...,2015,1,M,56,QQ,1,2,U,2681651,Morning
1,1,1,11,2,2,32,1,1,5,4,...,2015,UU,U,UU,UU,U,UU,U,2681651,Morning
2,1,1,11,2,2,32,1,1,5,4,...,2010,1,F,30,11,2,2,1,2681651,Morning
3,1,1,11,2,2,32,1,1,5,4,...,2010,2,U,1,QQ,N,NN,U,2681651,Morning
4,1,1,16,2,2,32,1,2,5,3,...,2007,1,F,27,11,2,2,1,2681652,Afternoon

In [168]:
columns_to_convert = collision_data.columns[:-1]
columns_to_convert = [col for col in columns_to_convert if col != 'Sex']
columns_to_convert

['Month',
 'Weekday',
 'Hour',
 'Severity',
 'Vehicles',
 'Configuration',
 'Road Configuration',
 'Weather',
 'Road Surface',
 'Road Alignment',
 'Traffic',
 'Vehicle Id',
 'Vehicle Type',
 'Vehicle Year',
 'Identifier',
 'Age',
 'Position',
 'Injury Severity',
 'Safety',
 'User',
 'Case']

In [169]:


def convert_to_numeric(value):
    try:
        return int(value)
    except ValueError:
        return np.nan

# Apply the conversion function to selected columns
collision_data[columns_to_convert] = collision_data[columns_to_convert].applymap(convert_to_numeric)
collision_data[columns_to_convert] = collision_data[columns_to_convert].astype('Int64')

In [170]:

collision_data.head()

,Month,Weekday,Hour,Severity,Vehicles,Configuration,Road Configuration,Weather,Road Surface,Road Alignment,...,Vehicle Year,Identifier,Sex,Age,Position,Injury Severity,Safety,User,Case,Time of Day
0,1,1,11,2,2,32,1,1,5,4,...,2015,1,M,56,<NA>,1,2,<NA>,2681651,Morning
1,1,1,11,2,2,32,1,1,5,4,...,2015,<NA>,U,<NA>,<NA>,<NA>,<NA>,<NA>,2681651,Morning
2,1,1,11,2,2,32,1,1,5,4,...,2010,1,F,30,11,2,2,1,2681651,Morning
3,1,1,11,2,2,32,1,1,5,4,...,2010,2,U,1,<NA>,<NA>,<NA>,<NA>,2681651,Morning
4,1,1,16,2,2,32,1,2,5,3,...,2007,1,F,27,11,2,2,1,2681652,Afternoon

In [171]:
dictionary['Weekday'].columns = dictionary['Weekday'].iloc[0]
dictionary['Weekday'] = pd.DataFrame(dictionary['Weekday'].values[1:], columns=['Code', 'Description'])

dictionary['Month'].columns = dictionary['Month'].iloc[0]
dictionary['Month'] = pd.DataFrame(dictionary['Month'].values[1:], columns=['Code', 'Description'])

dictionary['Hour'].columns = dictionary['Hour'].iloc[0]
dictionary['Hour'] = pd.DataFrame(dictionary['Hour'].values[1:], columns=['Code', 'Description'])

print(dictionary['Weekday'])
print(dictionary['Month'])
print(dictionary['Hour'])

  Code                                      Description
0    3                                        Wednesday
1    4                                         Thursday
2    5                                           Friday
3    6                                         Saturday
4    7                                           Sunday
5    U                                          Unknown
6    X  Jurisdiction does not provide this data element
   Code                                      Description
0    03                                            March
1    04                                            April
2    05                                              May
3    06                                             June
4    07                                             July
5    08                                           August
6    09                                        September
7    10                                          October
8    11                                         November
9    12                                         December
10   UU                                          Unknown
11   XX  Jurisdiction does not provide this data element
   Code                                      Description
0    02                                     2:00 to 2:59
1    03                                     3:00 to 3:59
2    04                                     4:00 to 4:59
3    05                                     5:00 to 5:59
4    06                                     6:00 to 6:59
5    07                                     7:00 to 7:59
6    08                                     8:00 to 8:59
7    09                                     9:00 to 9:59
8    10                                   10:00 to 10:59
9    11                                   11:00 to 11:59
10   12                                   12:00 to 12:59
11   13                                   13:00 to 13:59
12   14                                   14:00 to 14:59
13   15                                   15:00 to 15:59
14   16                                   16:00 to 16:59
15   17                                   17:00 to 17:59
16   18                                   18:00 to 18:59
17   19                                   19:00 to 19:59
18   20                                   20:00 to 20:59
19   21                                   21:00 to 21:59
20   22                                   22:00 to 22:59
21   23                                   23:00 to 23:59
22   UU                                          Unknown
23   XX  Jurisdiction does not provide this data element

In [172]:
column = collision_data.columns[0]
dictionary[column]

new_rows = [['01', 'January'], ['02', 'February']]
new_rows_df = pd.DataFrame(new_rows, columns=dictionary[column].columns)

# Concatenate the new rows DataFrame with the original DataFrame
dictionary[column] = pd.concat([new_rows_df, dictionary[column]], ignore_index=True)

# Print the updated DataFrame

In [173]:
column = collision_data.columns[1]
dictionary[column]

new_rows = [['1', 'Monday'], ['2', 'Tuesday']]
new_rows_df = pd.DataFrame(new_rows, columns=dictionary[column].columns)

# Concatenate the new rows DataFrame with the original DataFrame
dictionary[column] = pd.concat([new_rows_df, dictionary[column]], ignore_index=True)

In [174]:
column = collision_data.columns[2]
dictionary[column]

new_rows = [['0', '0:00 to 0:59'], ['01', '1:00 to 1:59']]
new_rows_df = pd.DataFrame(new_rows, columns=dictionary[column].columns)

# Concatenate the new rows DataFrame with the original DataFrame
dictionary[column] = pd.concat([new_rows_df, dictionary[column]], ignore_index=True)

In [175]:
for key, df in dictionary.items():
    # Attempt to convert the first column to integers:
    if key != 'Sex':
      try:
          df['Code'] = pd.to_numeric(df['Code'], errors='coerce', downcast='integer')
      except ValueError:
          df['Code'] = np.nan

for key, df in dictionary.items():
    print(f"DataFrame: {key}")
    print(df)
    print()

DataFrame: Month
    Code                                      Description
0    1.0                                          January
1    2.0                                         February
2    3.0                                            March
3    4.0                                            April
4    5.0                                              May
5    6.0                                             June
6    7.0                                             July
7    8.0                                           August
8    9.0                                        September
9   10.0                                          October
10  11.0                                         November
11  12.0                                         December
12   NaN                                          Unknown
13   NaN  Jurisdiction does not provide this data element

DataFrame: Weekday
   Code                                      Description
0   1.0                                           Monday
1   2.0                                          Tuesday
2   3.0                                        Wednesday
3   4.0                                         Thursday
4   5.0                                           Friday
5   6.0                                         Saturday
6   7.0                                           Sunday
7   NaN                                          Unknown
8   NaN  Jurisdiction does not provide this data element

DataFrame: Hour
    Code                                      Description
0    0.0                                     0:00 to 0:59
1    1.0                                     1:00 to 1:59
2    2.0                                     2:00 to 2:59
3    3.0                                     3:00 to 3:59
4    4.0                                     4:00 to 4:59
5    5.0                                     5:00 to 5:59
6    6.0                                     6:00 to 6:59
7    7.0                                     7:00 to 7:59
8    8.0                                     8:00 to 8:59
9    9.0                                     9:00 to 9:59
10  10.0                                   10:00 to 10:59
11  11.0                                   11:00 to 11:59
12  12.0                                   12:00 to 12:59
13  13.0                                   13:00 to 13:59
14  14.0                                   14:00 to 14:59
15  15.0                                   15:00 to 15:59
16  16.0                                   16:00 to 16:59
17  17.0                                   17:00 to 17:59
18  18.0                                   18:00 to 18:59
19  19.0                                   19:00 to 19:59
20  20.0                                   20:00 to 20:59
21  21.0                                   21:00 to 21:59
22  22.0                                   22:00 to 22:59
23  23.0                                   23:00 to 23:59
24   NaN                                          Unknown
25   NaN  Jurisdiction does not provide this data element

DataFrame: Severity
   Code                                      Description
0   1.0        Collision producing at least one fatality
1   2.0             Collision producing non-fatal injury
2   NaN                                          Unknown
3   NaN  Jurisdiction does not provide this data element

DataFrame: Vehicles
   Code                                      Description
0   NaN                       01 - 98 vehicles involved.
1  99.0                    99 or more vehicles involved.
2   NaN                                          Unknown
3   NaN  Jurisdiction does not provide this data element

DataFrame: Configuration
    Code                                        Description
0    NaN                                                NaN
1    NaN                                                NaN
2    1.0      Hit a moving objectE.g. a person or an animal
3    2.0                 Hit a stationary objectE.g. a tree
4    3.0  Ran off left shoulderIncluding rollover in the...
5    4.0  Ran off right shoulderIncluding rollover in th...
6    5.0                                Rollover on roadway
7    6.0   Any other single vehicle collision configuration
8    NaN                                                NaN
9    NaN                                                NaN
10  21.0                                 Rear-end collision
11  22.0                                         Side swipe
12  23.0  One vehicle passing to the left of the other, ...
13  24.0  One vehicle passing to the right of the other,...
14  25.0  Any other two vehicle - same direction of trav...
15   NaN                                                NaN
16   NaN                                                NaN
17  31.0                                  Head-on collision
18  32.0                             Approaching side-swipe
19  33.0                  Left turn across opposing traffic
20  34.0            Right turn, including turning conflicts
21  35.0                              Right angle collision
22  36.0  Any other two-vehicle - different direction of...
23   NaN                                                NaN
24   NaN                                                NaN
25  41.0                         Hit a parked motor vehicle
26   NaN                                                NaN
27   NaN          Choice is other than the preceding values
28   NaN                                            Unknown
29   NaN    Jurisdiction does not provide this data element

DataFrame: Road Configuration
    Code                                        Description
0    1.0                   Non-intersectione.g. 'mid-block'
1    2.0  At an intersection of at least two public road...
2    3.0  Intersection with parking lot entrance/exit, p...
3    4.0                            Railroad level crossing
4    5.0                          Bridge, overpass, viaduct
5    6.0                                Tunnel or underpass
6    7.0                           Passing or climbing lane
7    8.0                                               Ramp
8    9.0                                     Traffic circle
9   10.0                   Express lane of a freeway system
10  11.0                 Collector lane of a freeway system
11  12.0                  Transfer lane of a freeway system
12   NaN          Choice is other than the preceding values
13   NaN                                            Unknown
14   NaN    Jurisdiction does not provide this data element

DataFrame: Weather
   Code                                        Description
0   1.0                                    Clear and sunny
1   2.0              Overcast, cloudy but no precipitation
2   3.0                                            Raining
3   4.0               Snowing, not including drifting snow
4   5.0                         Freezing rain, sleet, hail
5   6.0  Visibility limitatione.g. drifting snow, fog, ...
6   7.0                                        Strong wind
7   NaN          Choice is other than the preceding values
8   NaN                                            Unknown
9   NaN    Jurisdiction does not provide this data element

DataFrame: Road Surface
    Code                                        Description
0    1.0                                        Dry, normal
1    2.0                                                Wet
2    3.0                           Snow (fresh, loose snow)
3    4.0                                    Slush, wet snow
4    5.0                            IcyIncludes packed snow
5    6.0  Sand/gravel/dirtRefers to the debris on the ro...
6    7.0                                              Muddy
7    8.0   OilIncludes spilled liquid or road\rapplication.
8    9.0                                            Flooded
9    NaN          Choice is other than the preceding values
10   NaN                                            Unknown
11   NaN         Jurisdiction does not provide data element

DataFrame: Road Alignment
   Code                                      Description
0   1.0                               Straight and level
1   2.0                           Straight with gradient
2   3.0                                 Curved and level
3   4.0                             Curved with gradient
4   5.0                          Top of hill or gradient
5   6.0                  Bottom of hill or gradient"Sag"
6   NaN        Choice is other than the preceding values
7   NaN                                          Unknown
8   NaN  Jurisdiction does not provide this data element

DataFrame: Traffic
    Code                                        Description
0    1.0                  Traffic signals fully operational
1    2.0                   Traffic signals in flashing mode
2    3.0                                          Stop sign
3    4.0                                         Yield sign
4    5.0              Warning signYellow diamond shape sign
5    6.0                               Pedestrian crosswalk
6    7.0                                     Police officer
7    8.0                              School guard, flagman
8    9.0                                    School crossing
9   10.0                                 Reduced speed zone
10  11.0                               No passing zone sign
11  12.0                Markings on the roade.g. no passing
12  13.0  School bus stopped with school bus signal ligh...
13  14.0  School bus stopped with school bus signal ligh...
14  15.0  Railway crossing with signals, or signals and ...
15  16.0                   Railway crossing with signs only
16  17.0                       Control device not specified
17  18.0                                 No control present
18   NaN          Choice is other than the preceding values
19   NaN                                            Unknown
20   NaN    Jurisdiction does not provide this data element

DataFrame: Vehicle Id
   Code                                        Description
0   NaN                                            01 - 98
1  99.0    Vehicle sequence number assigned to pedestrians
2   NaN  Unknown.  In cases where a person segment cann...

DataFrame: Vehicle Type
    Code                                        Description
0    1.0  Light Duty Vehicle (Passenger car, Passenger v...
1    5.0  Panel/cargo vanPanel or window type of van des...
2    6.0  Other trucks and vansUnspecified, or any other...
3    7.0  Unit trucks > 4536 KGAll heavy unit trucks, wi...
4    8.0         Road tractorWith or without a semi-trailer
5    9.0                      School busStandard large type
6   10.0  Smaller school busSmaller type, seats < 25 pas...
7   11.0                            Urban and Intercity Bus
8   14.0  Motorcycle and mopedMotorcycle and limited-spe...
9   16.0  Off road vehiclesOff road motorcycles (e.g. di...
10  17.0                                            Bicycle
11  18.0      Purpose-built motorhomeExclude pickup campers
12  19.0                                     Farm equipment
13  20.0                             Construction equipment
14  21.0                                        Fire engine
15  22.0                                         Snowmobile
16  23.0                                          Streetcar
17   NaN  Data element is note.g. "dummy" vehicle record...
18   NaN          Choice is other than the preceding values
19   NaN                                            Unknown
20   NaN    Jurisdiction does not provide this data element

DataFrame: Vehicle Year
   Code                                        Description
0   NaN  Model Year 19YY to 20YY where 00<= YY <= Curre...
1   NaN  Data element is not applicablee.g. "dummy" veh...
2   NaN                                            Unknown
3   NaN    Jurisdiction does not provide this data element

DataFrame: Identifier
   Code                                        Description
0   NaN                                            01 - 99
1   NaN  Data element is note.g. “dummy" person record ...
2   NaN                Unknowne.g. applies to runaway cars

DataFrame: Sex
  Code                                        Description
0    F                                             Female
1    M                                               Male
2    N  Data element is not applicablee.g. “dummy" per...
3    U                Unknowne.g. applies to runaway cars
4    X    Jurisdiction does not provide this data element

DataFrame: Age
   Code                                        Description
0   0.0                               Less than 1 Year old
1   NaN                                  1 to 98 Years old
2  99.0                                  99 Years or older
3   NaN  Data element is not applicablee.g. “dummy" per...
4   NaN                Unknowne.g. applies to runaway cars
5   NaN    Jurisdiction does not provide this data element

DataFrame: Position
    Code                                        Description  \
0   11.0                                             Driver
1   12.0                                  Front row, center
2   13.0  Front row, right outboard, including motorcycl...
3   21.0  Second row, left outboard, including motorcycl...
4   22.0                                 Second row, center
5   23.0                         Second row, right outboard
6   31.0                           Third row, left outboard
7   32.0                                  Third row, center
8   33.0                          Third row, right outboard
9    NaN                                                NaN
10  96.0  Position unknown, but the person was definitel...
11  97.0                           Sitting on someone’s lap
12  98.0                      Outside passenger compartment
13  99.0                                         Pedestrian
14   NaN                     Data element is not applicable
15   NaN           Choice is other than the preceding value
16   NaN                                            Unknown
17   NaN    Jurisdiction does not provide this data element

                                                  NaN
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12         e.g. riding in the back of a pick-up truck
13                                                NaN
14  e.g. “dummy” person record created for\rparked...
15                                                NaN
16                       e.g. applies to runaway cars
17                                                NaN

DataFrame: Injury Severity
   Code                                        Description
0   1.0                                          No Injury
1   2.0                                             Injury
2   3.0  FatalityDied immediately or within the time li...
3   NaN  Data element is note.g. “dummy" person record ...
4   NaN                Unknowne.g. applies to runaway cars
5   NaN    Jurisdiction does not provide this data element

DataFrame: Safety
    Code                                        Description
0    1.0  No safety device used, or No child restraint used
1    2.0         Safety device used or child restraint used
2    9.0  Helmet wornFor motorcyclists, bicyclists,\rsno...
3   10.0  Reflective clothing wornFor motorcyclists, bic...
4   11.0  Both helmet and reflective clothing usedFor mo...
5   12.0                           Other safety device used
6   13.0                No safety device equippede.g. buses
7    NaN  Data element is not applicablee.g. “dummy" per...
8    NaN          Choice is other than the preceding values
9    NaN                Unknowne.g. applies to runaway cars
10   NaN    Jurisdiction does not provide this data element

DataFrame: User
   Code                   Description
0   1.0          Motor Vehicle Driver
1   2.0       Motor Vehicle Passenger
2   3.0                    Pedestrian
3   4.0                     Bicyclist
4   5.0                  Motorcyclist
5   NaN  Not stated / Other / Unknown
6   NaN                           NaN

In [176]:
processed_df = pd.DataFrame()

columns_to_change = ['Month', 'Weekday', 'Severity',
                     'Configuration', 'Road Configuration', 'Weather',
                     'Road Surface', 'Road Alignment', 'Traffic', 'Vehicle Type',
                     'Sex', 'Position', 'Injury Severity',
                     'Safety', 'User']



for column in collision_data.columns:
  if column in columns_to_change:
    code_desc_df = dictionary[column]
    code_desc_df = code_desc_df.drop_duplicates(subset="Code", keep="first")
    code_to_desc_mapping = dict(zip(code_desc_df['Code'], code_desc_df['Description']))

    collision_df_reset_index = collision_data.reset_index(drop=True)
    processed_column = collision_df_reset_index[column].map(code_to_desc_mapping)

    processed_df[column] = processed_column

  else:
    processed_df[column] = collision_data[column]

In [177]:
print(processed_df.head())

     Month Weekday  Hour                              Severity  Vehicles  \
0  January  Monday    11  Collision producing non-fatal injury         2
1  January  Monday    11  Collision producing non-fatal injury         2
2  January  Monday    11  Collision producing non-fatal injury         2
3  January  Monday    11  Collision producing non-fatal injury         2
4  January  Monday    16  Collision producing non-fatal injury         2

            Configuration                Road Configuration  \
0  Approaching side-swipe  Non-intersectione.g. 'mid-block'
1  Approaching side-swipe  Non-intersectione.g. 'mid-block'
2  Approaching side-swipe  Non-intersectione.g. 'mid-block'
3  Approaching side-swipe  Non-intersectione.g. 'mid-block'
4  Approaching side-swipe  Non-intersectione.g. 'mid-block'

                                 Weather             Road Surface  \
0                        Clear and sunny  IcyIncludes packed snow
1                        Clear and sunny  IcyIncludes packed snow
2                        Clear and sunny  IcyIncludes packed snow
3                        Clear and sunny  IcyIncludes packed snow
4  Overcast, cloudy but no precipitation  IcyIncludes packed snow

         Road Alignment  ... Vehicle Year  Identifier  \
0  Curved with gradient  ...         2015           1
1  Curved with gradient  ...         2015        <NA>
2  Curved with gradient  ...         2010           1
3  Curved with gradient  ...         2010           2
4      Curved and level  ...         2007           1

                                   Sex   Age  Position  \
0                                 Male    56       NaN
1  Unknowne.g. applies to runaway cars  <NA>       NaN
2                               Female    30    Driver
3  Unknowne.g. applies to runaway cars     1       NaN
4                               Female    27    Driver

                                     Injury Severity  \
0                                          No Injury
1  Data element is note.g. “dummy" person record ...
2                                             Injury
3  Data element is note.g. “dummy" person record ...
4                                             Injury

                                              Safety  \
0         Safety device used or child restraint used
1  Data element is not applicablee.g. “dummy" per...
2         Safety device used or child restraint used
3  Data element is not applicablee.g. “dummy" per...
4         Safety device used or child restraint used

                           User     Case Time of Day
0  Not stated / Other / Unknown  2681651     Morning
1  Not stated / Other / Unknown  2681651     Morning
2          Motor Vehicle Driver  2681651     Morning
3  Not stated / Other / Unknown  2681651     Morning
4          Motor Vehicle Driver  2681652   Afternoon

[5 rows x 23 columns]

In [178]:
#Commented out for now, reactivate if u need to donwloand as excel
# !pip install openpyxl

# Save the DataFrame as an Excel file
#excel_file_path = '/content/processed_data.xlsx'  # Specify the file path and name
#processed_df.to_excel(excel_file_path, index=False)

# Download the Excel file
#from google.colab import files
#files.download(excel_file_path)

Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)