In [ ]:
import pandas as pd
import requests
import psycopg2
from psycopg2 import Error

In [ ]:
key = 'insert key'
lang = 'en-US'

url = f"https://api.themoviedb.org/3/movie/popular?language={lang}&page=1"

headers = {
    "accept": "application/json",
    "Authorization": f"Bearer {key}"
}

response = requests.get(url, headers=headers)

In [ ]:
response_data = response.json()

In [ ]:
url = "https://api.themoviedb.org/3/genre/movie/list?language=en"


response_ids = requests.get(url, headers=headers)
genre_id_to_name = response_ids.json()

In [ ]:
genre_id_to_name = {genre_entry['id']: genre_entry['name'] for genre_entry in genre_id_to_name['genres']}

genre_id_to_name

{28: 'Action',
 12: 'Adventure',
 16: 'Animation',
 35: 'Comedy',
 80: 'Crime',
 99: 'Documentary',
 18: 'Drama',
 10751: 'Family',
 14: 'Fantasy',
 36: 'History',
 27: 'Horror',
 10402: 'Music',
 9648: 'Mystery',
 10749: 'Romance',
 878: 'Science Fiction',
 10770: 'TV Movie',
 53: 'Thriller',
 10752: 'War',
 37: 'Western'}

In [ ]:
def get_extra_details(id:int):
  url = f"https://api.themoviedb.org/3/movie/{id}?language=en-US"
  extra_details = requests.get(url, headers=headers).json()
  budget = extra_details.get('budget', 'unknown')
  production_countries_names = [country["name"] for country in extra_details.get("production_countries", [])]
  production_companies_names = [company["name"] for company in extra_details.get("production_companies", [])]
  return budget, production_countries_names, production_companies_names

In [ ]:
from datetime import datetime
movies_df = pd.DataFrame([
    {
        'id': movie['id'],
        'title': movie['title'],
        'overview': movie['overview'],
        'popularity': movie['popularity'],
        'vote_average': movie['vote_average'],
        'vote_count': movie['vote_count'],
        'release_date': movie['release_date'],
        'genre_ids': movie['genre_ids'],
        'genre_names': [genre_id_to_name[genre_id] for genre_id in movie['genre_ids']],
        **dict(zip(['budget', 'production_countries', 'production_companies'], get_extra_details(movie['id']))),
        'days_since_release': (datetime.now() - datetime.strptime(movie['release_date'], '%Y-%m-%d')).days


    }
    for movie in response_data['results']
])

In [ ]:
movies_df

,id,title,overview,popularity,vote_average,vote_count,release_date,genre_ids,genre_names,budget,production_countries,production_companies,days_since_release
0,976573,Elemental,"In a city where fire, water, land and air resi...",3832.175,7.8,1360,2023-06-14,"[16, 35, 10751, 14, 10749]","[Animation, Comedy, Family, Fantasy, Romance]",200000000,[United States of America],"[Walt Disney Pictures, Pixar]",72
1,724209,Heart of Stone,An intelligence operative for a shadowy global...,3796.765,7.0,734,2023-08-09,"[53, 28]","[Thriller, Action]",0,[United States of America],"[Skydance, Pilot Wave Motion Pictures, Mocking...",16
2,569094,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu...",2433.631,8.5,3722,2023-05-31,"[16, 28, 12]","[Animation, Action, Adventure]",100000000,[United States of America],"[Columbia Pictures, Sony Pictures Animation, L...",86
3,667538,Transformers: Rise of the Beasts,When a new threat capable of destroying the en...,1596.732,7.5,2915,2023-06-06,"[28, 12, 878]","[Action, Adventure, Science Fiction]",195000000,[United States of America],"[Skydance, Paramount, di Bonaventura Pictures,...",80
4,346698,Barbie,Barbie and Ken are having the time of their li...,1456.526,7.4,3331,2023-07-19,"[35, 12, 14]","[Comedy, Adventure, Fantasy]",145000000,"[United Kingdom, United States of America]","[LuckyChap Entertainment, Heyday Films, NB/GG ...",37
5,298618,The Flash,When his attempt to save his family inadverten...,1405.843,7.0,2463,2023-06-13,"[28, 12, 878]","[Action, Adventure, Science Fiction]",300000000,[United States of America],"[Warner Bros. Pictures, Double Dream, The Disc...",73
6,1121575,Babylon 5: The Road Home,Travel across the galaxy with John Sheridan as...,1345.442,7.1,25,2023-08-15,"[16, 878, 28, 12]","[Animation, Science Fiction, Action, Adventure]",0,[United States of America],[Warner Bros. Animation],10
7,884605,No Hard Feelings,"On the brink of losing her childhood home, Mad...",1336.849,7.1,859,2023-06-15,"[35, 10749]","[Comedy, Romance]",45000000,[United States of America],"[Excellent Cadaver, Odenkirk Provissiero Enter...",71
8,615656,Meg 2: The Trench,An exploratory dive into the deepest depths of...,1183.525,6.9,568,2023-08-02,"[28, 878, 27]","[Action, Science Fiction, Horror]",129000000,"[China, United States of America]","[Apelles Entertainment, Warner Bros. Pictures,...",23
9,709631,Cobweb,Eight year old Peter is plagued by a mysteriou...,1171.645,6.8,193,2023-07-19,[27],[Horror],0,[United States of America],"[Point Grey Pictures, Vertigo Entertainment, L...",37
10,1006462,The Flood,A horde of giant hungry alligators is unleashe...,1140.926,6.9,154,2023-07-14,"[28, 27, 53]","[Action, Horror, Thriller]",0,"[Thailand, United States of America]","[Hillin Entertainment, Ashland Hill Media Fina...",42
11,385687,Fast X,Over many missions and against impossible odds...,1087.188,7.3,3456,2023-05-17,"[28, 80, 53]","[Action, Crime, Thriller]",340000000,[United States of America],"[Universal Pictures, Original Film, One Race, ...",100
12,961420,Kingdom 2: Far and Away,It follows a young man who dreams of becoming ...,1046.559,7.0,13,2022-07-15,"[28, 12, 10752]","[Action, Adventure, War]",0,[Japan],"[TOHO, Shueisha, Nippon Television Network Cor...",406
13,1149381,Soulcatcher,A military contractor hired to seize a weapon ...,969.106,6.6,139,2023-08-02,"[28, 12, 53]","[Action, Adventure, Thriller]",0,[Poland],[Lightcraft],23
14,614479,Insidious: The Red Door,"To put their demons to rest once and for all, ...",929.482,6.9,957,2023-07-05,"[27, 9648, 53]","[Horror, Mystery, Thriller]",16000000,[United States of America],"[Blumhouse Productions, Stage 6 Films, Screen ...",51
15,644124,Dampyr,"Haunted by nightmares, con artist Harlan Draka...",863.700,6.7,54,2022-10-28,"[27, 14, 28]","[Horror, Fantasy, Action]",15000000,[Italy],"[Sergio Bonelli Editore, Eagle Pictures, Brand...",301
16,457332,Hidden Strike,Two elite soldiers must escort civilians throu...,802.523,7.1,621,2023-07-06,"[28, 12, 53, 35]","[Action, Adventure, Thriller, Comedy]",80000000,"[China, United States of America]","[Talent International Media, Sparkle Roll Medi...",50
17,447365,Guardians of the Galaxy Vol. 3,"Peter Quill, still reeling from the loss of Ga...",773.535,8.0,4471,2023-05-03,"[878, 12, 28]","[Science Fiction, Adventure, Action]",250000000,[United States of America],"[Marvel Studios, Kevin Feige Productions]",114
18,447277,The Little Mermaid,"The youngest of King Triton’s daughters, and t...",766.828,6.5,1690,2023-05-18,"[12, 10751, 14, 10749]","[Adventure, Family, Fantasy, Romance]",250000000,[United States of America],"[Walt Disney Pictures, Lucamar Productions, Ma...",99
19,1083862,Resident Evil: Death Island,"In San Francisco, Jill Valentine is dealing wi...",736.584,7.6,588,2023-06-22,"[16, 28, 27]","[Animation, Action, Horror]",0,[Japan],"[CAPCOM, TMS Entertainment, Quebico, UNLIMITED...",64

In [ ]:
top_companies = (
    movies_df['production_companies']
    .explode()
    .value_counts()
    .head(5)
    .reset_index(name='movie_count')
    .rename(columns={'index': 'company'})
)

top_countries = (
    movies_df['production_countries']
    .explode()
    .value_counts()
    .head(3)
    .reset_index(name='movie_count')
    .rename(columns={'index': 'country'})
)

top_genres = (
    movies_df['genre_names']
    .explode()
    .value_counts()
    .head(5)
    .reset_index(name='movie_count')
    .rename(columns={'index': 'country'})
)
print(top_companies)
print(top_countries)
print(top_genres)

                   company  movie_count
0     Walt Disney Pictures            2
1                 Skydance            2
2        Columbia Pictures            2
3    Warner Bros. Pictures            2
4  di Bonaventura Pictures            2
                    country  movie_count
0  United States of America           16
1                     China            2
2                     Japan            2
           country  movie_count
0           Action           14
1        Adventure           10
2         Thriller            6
3           Horror            6
4  Science Fiction            5

In [ ]:
import psycopg2
from sqlalchemy import create_engine

# Database URL format: postgres://username:password@hostname/database_name
database_url = "insert database url"

url_parts = database_url.split("://")
db_type = url_parts[0]
db_credentials = url_parts[1].split("@")
db_username, db_password = db_credentials[0].split(":")
db_host_and_db_name = db_credentials[1].split("/")
db_host = db_host_and_db_name[0]
db_name = db_host_and_db_name[1]


conn = psycopg2.connect(
    database=db_name,
    user=db_username,
    password=db_password,
    host=db_host
)

engine = create_engine(f'postgresql://{db_username}:{db_password}@{db_host}/{db_name}')

movies_df.to_sql('top movies', engine, if_exists='replace', index=False)
top_companies.to_sql('top companies', engine, if_exists='replace', index=False)
top_countries.to_sql('top countries', engine, if_exists='replace', index=False)
top_genres.to_sql('top genres', engine, if_exists='replace', index=False)

5

In [ ]:
conn.close()